version: '3'

services:
    mysql:
        image: mysql:8.0
        environment:
            MYSQL_ROOT_PASSWORD: password
            MYSQL_DATABASE: laravel
            MYSQL_USER: laravel
            MYSQL_PASSWORD: password
        ports:
            - '3306:3306'
        volumes:
            - mysql_data:/var/lib/mysql

    redis:
        image: redis:7-alpine
        ports:
            - '6379:6379'

    mailpit:
        image: axllent/mailpit:latest
        ports:
            - '1025:1025'
            - '8025:8025'

volumes:
    mysql_data:
